.hero-subtitle {
    max-width: 100%;
}

.btn-hero-primary {
    background-color: white;
    color: var(--coral);
    font-weight: 600;
    border: none;
    transition: all 0.3s ease;
}

.btn-hero-primary:hover {
    background-color: #f0f0f0;
    color: var(--coral);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-hero-secondary {
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-hero-secondary:hover {
    background-color: white;
    color: var(--coral);
}

@media (max-width: 576px) {

    .btn-hero-primary,
    .btn-hero-secondary {
        padding: 0.5rem 1rem;
        /* botones m치s compactos */
        font-size: 0.875rem;
        /* letra un poco m치s chica */
        border-radius: 0.4rem;
        /* opcional: esquinas m치s peque침as */
    }
}

.img-back-hero h1,
.img-back-hero p,
.img-back-hero button {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}