.footer-logo-icon {
    width: 32px;
    height: 32px;
    background-color: var(--coral);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link {
    color: rgba(255, 255, 255, 0.5);
    padding: 0.2rem 0;
}

.footer-link:hover {
    color: var(--coral);
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.instagram-link svg {
    color: #E1306C;
    /* color base Instagram */
    transition: transform 0.3s ease, color 0.3s ease;
}

.instagram-link:hover svg {
    color: #833AB4;
    /* degradado o color secundario Instagram */
    transform: scale(1.2);
    /* agranda el ícono */
}

.wapp-link {
    padding-left: 10px;
}

.wapp-link svg {
    color: #25D366;
    /* color base WhatsApp */
    transition: transform 0.3s ease, color 0.3s ease;
}

.wapp-link:hover svg {
    color: #d5ec05;
    /* degradado o color secundario WhatsApp */
    transform: scale(1.2);
    /* agranda el ícono */
}